body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#or {
    color: rgb(8, 214, 8);
}

#fli {
    color: violet;
}

#pper {
    color: rgb(63, 155, 241);
}

.nav {
    display: flex;
    background-color: rgb(238, 235, 204);
    justify-content: center;
    color: tomato;
    letter-spacing: 2px;
    font-size: 17px;
}

.list {
    display: flex;
    margin-left: 200px;
    gap: 30px;
    list-style: none;
    margin-top: 33px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(243, 73, 166);
}

.bodycnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
}

.text {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px black solid;
}

#btn {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px black solid;
    font-weight: bold;
    width: 100px;
    height: 50px;
    font-size: 15px;
    letter-spacing: 1px;
}

#btn:hover {
    border: 2px solid white;
}